@media screen and (max-width: 1040px) {
  * {
    align-self: center;
    max-width: 100%;
  }

  .profile-class {
    position: relative;
    min-width: 300px;
  }

  .trending-class {
    position: relative;
  }

  .homescreen {
    flex-direction: column;
  }
}
