@media screen and (max-width: 1040px) {
  .login-component {
    width: 400px;
  }

  .register-component {
    width: 400px;
  }

  .profile-class {
    position: relative;
    align-self: center;
    flex-grow: 1;
    min-width: 400px;
  }

  .trending-class {
    align-self: center;
    flex-grow: 1;
    min-width: 400px;
    position: relative;
  }

  .homescreen {
    flex-direction: column;
    border: 2px solid black;
  }

  .post {
    min-width: 400px;
    flex-grow: 1;
    align-self: center;
  }

  .writepost {
    flex-direction: column;
    min-width: 400px;
    flex-grow: 1;
    align-self: center;
  }

  .writepost-end {
    flex-direction: column;
    min-width: 400px;
    margin-right: 50px;
    align-self: center;
  }
}
