@media screen and (max-width: 1040px) {
  .write-post-parent {
    display: flex;
    height: 100%;
    width: 100%;
  }

  .write-post {
    flex-direction: column;
    padding: 10px;
  }

  .write-post-title {
    width: 100%;
  }

  .profile-class-parent {
    display: flex;
    justify-content: center;
  }

  .profile-class {
    position: relative;
    flex-grow: 1;
    max-width: 400px;
  }

  .homescreen {
    display: flex;
    flex-direction: column;
  }

  .post {
    width: 100%;
  }

  .trending-class-parent {
    display: flex;
    justify-content: center;
  }

  .trending-class {
    position: relative;
    flex-grow: 1;
    max-width: 400px;
  }
}
